<footer role="contentinfo" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        © VisionApps, s.r.o. 2016
        <span class="footer-divider">|</span>
        <a href="#" target="_blank">Contact</a>
      </div>
      <div class="col-md-6">
        <a
          href="http://www.visionapps.cz"
          target="_blank"
          class="footer-author"
          title="Created by VisionApps"
        >
          <img
            src="assets/images/visionapps.svg"
            width="90"
            height="16"
            alt="VisionApps"
          />
        </a>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</footer>
