<footer role="contentinfo" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Malav Patel
        <span class="footer-divider">|</span>
        <a href="https://www.linkedin.com/in/malav-patel/" target="_blank"
          >Linked In</a
        >
      </div>
      <div class="col-md-6">
        <a
          href="https://github.com/patel-malav/weather-app-angular"
          target="_blank"
          class="footer-author"
          title="Created by VisionApps"
        >
          Github
        </a>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</footer>
