<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">My Cities Watchlist</h1>
    </div>
  </div>
  <app-city name="ahmedabad" class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
  <app-city class="col-xs-12 col-sm-6 col-md-4"></app-city>
</div>
